container_commands:
  01_create_directories:
    command: "mkdir -p /tmp/git-cloudbatchjobtemplatedevelopment/ /tmp/BatchJobLogs /tmp/Logs_webforpublic /tmp/temp_download_of_cloudBatchJobProgram_for_edit /tmp/temp_download_of_cloudBatchJobProgram_for_view_result/"
  02_set_permissions:
    command: "chmod 777 /tmp/git-cloudbatchjobtemplatedevelopment/ /tmp/BatchJobLogs /tmp/Logs_webforpublic /tmp/temp_download_of_cloudBatchJobProgram_for_edit /tmp/temp_download_of_cloudBatchJobProgram_for_view_result/"