files:
  "/etc/nginx/conf.d/types_hash.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      types_hash_max_size 4096;
      types_hash_bucket_size 128;

packages:
  yum:
    python3: []

container_commands:
  01_install_awscliv2:
    command: "pip3 install awscliv2"

  02_setup_nginx:
    command: |
      echo '
      server {
          listen 80;
          server_name your_domain_or_ip;

          # Serve static files
          location /static/ {
              alias /path/to/your/flask_app/static/;
          }

          # Proxy requests to the Flask application
          location / {
              include proxy_params;
              proxy_pass http://unix:/path/to/your/flask_app/flask_app.sock;
          }
      }
      ' > /etc/nginx/conf.d/flask_app.conf