files:
  "/etc/profile.d/java.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      export JAVA_HOME=/usr/lib/jvm/java-1.8.0-amazon-corretto
      export PATH=$JAVA_HOME/bin:$PATH

packages:
  yum:
    git: []
    python3: []
    java-1.8.0-amazon-corretto-devel: []
    maven: []

container_commands:
  01_reload_profile:
    command: "source /etc/profile.d/java.sh"