.CodeMirror {
    width: 1000px;
    height: 90vh;
    border: 1px solid #ccc;
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    background-color: #ffffff;
    color: #2e2e2e;
    resize: none;
}

.CodeMirror-gutters {
    background: #1e1e1e;
    border-right: 1px solid #444;
}

.CodeMirror-linenumber {
    color: #888;
}

.CodeMirror-cursor {
    border-left: 1px solid #ffffff;
}

.code-label {
    width: 1000px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #2e2e2e;
    background-color: #f8f8f2;
    padding: 5px;
    display: block;
    margin-bottom: 5px;
}

.header {
    font-family: 'Courier New', Courier, monospace;
}
