.icon-button-hidden {
    display: none;
}

.icon-button-visible {
    margin-left: 10px;
    /* Adjust the margin as needed */
    vertical-align: middle;
    /* Align the icon vertically with the button */
    width: 20px;
    /* Set the desired width */
    height: 20px;
    /* Set the desired height */
    display: inline-block;
    /* Make the button inline */
}