.icon-button-hidden {
    display: none;
}

.icon-button-visible {
    display: inline-block;
}


/* Reset margin and padding */
body,
html {
    margin: 0;
    padding: 0;
}

/* Styles for image container */
.image-container {
    position: relative;
    display: inline-block;
}

/* Styles for button overlay */
.button-overlay {
    position: relative;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles for buttons */
.button-overlay button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #157f87f7;
    color: #fff;
    border-radius: 5px;
}

/* Hover effect for buttons */
.button-overlay button:hover {
    background-color: #1badb8f7;
}