<!DOCTYPE html>
<html lang="en">
<head>
    <title>&#9733; {{ alias }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
    {% include "top_title_only.html" %}
    <param id="stream_id" name="stream_id" value='{{ stream_id }}'>
    <param id="cloudbatchjob_id" name="cloudbatchjob_id" value='{{ cloudbatchjob_id }}'>
    <pre id="result" style="width: 100%; height: 100%;"></pre>

    <script>
        fetch('/home/view-cloudbatchjob-result/fetch', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 
                stream_id: document.querySelector('param[name="stream_id"]').value,
                cloudbatchjob_id: document.querySelector('param[name="cloudbatchjob_id"]').value
            })  // Send input as JSON
        })
        .then(response => response.text())
        .then(data => {
            document.getElementById('result').innerHTML = data;
        })
        .catch(error => console.error('Error:', error));
    </script>
    {% include "base.html" %}
</body>
</html>