<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Editor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/lint/lint.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/hint/show-hint.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='cloudbatchjobinjava.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/lint/lint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/hint/show-hint.min.js"></script>
</head>
<body>
    <h1 class="header">Java Code Editor</h1>
    <form action="/cloudbatchjobinjava/submit" method="post">
        <div>
            <input name="requestid" value="1dc4655d-879d-11ef-90f4-d76dbcd64478"/>
        </div>
        <p style="margin: 10px 0;"></p>
        <div>
            <input name="requestContentInJSON" value='{"USERID":"b7f0d3d9-68f4-11ef-a86a-b735f9964bce","DATETIMESELECTIONTYPE":"1","FROMDATE":"20230403","TODATE":"20230503","FROMTIME":"155500","TOTIME":"163000","CLASS_CODE":"HSI","FUT_OPT":"F","EXPIRY_MTH":"","STRIKE_PRC":"","CALL_PUT":"","RETENTION_HOUR":"1"}'/>
        </div>
        <p style="margin: 50px 0;"></p>
        <div>
            <label for="code_for_onStart" class="code-label">onStart() {</label>
            <textarea id="code_for_onStart" name="code_for_onStart"></textarea>
            <label for="code_for_onStart" class="code-label">}</label>
        </div>
        <p style="margin: 50px 0;">
        <div>
            <label for="code_for_onProcess" class="code-label">onProess(FutureDataStructure data){</label>
            <textarea id="code_for_onProcess" name="code_for_onProcess"></textarea>
            <label for="code_for_onStart" class="code-label">}</label>
        </div>
        <p style="margin: 50px 0;">
        <div>
            <label for="code_for_onEnd" class="code-label">onEnd() {</label>
            <textarea id="code_for_onEnd" name="code_for_onEnd"></textarea>
            <label for="code_for_onStart" class="code-label">}</label>
        </div>
        <button type="submit" id="submitCloudbatchjobinjava" disabled>Submit</button>
    </form>
    <pre id="output" style="width: 100%; height: 50px;">{{ output }}</pre>

    <script>
        var editor_for_OnStart = CodeMirror.fromTextArea(document.getElementById('code_for_onStart'), {
            mode: 'text/x-java',
            lineNumbers: true,
            gutters: ["CodeMirror-lint-markers"],
            extraKeys: {
                "Ctrl-Space": "autocomplete"
            },
            hintOptions: {
                hint: CodeMirror.hint.anyword
            },
            lint: {
                getAnnotations: checkSyntaxForOnStart,
                async: true
            }
        });
        var editor_for_OnProcess = CodeMirror.fromTextArea(document.getElementById('code_for_onProcess'), {
            mode: 'text/x-java',
            lineNumbers: true,
            gutters: ["CodeMirror-lint-markers"],
            extraKeys: {
                "Ctrl-Space": "autocomplete"
            },
            hintOptions: {
                hint: CodeMirror.hint.anyword
            },
            lint: {
                getAnnotations: checkSyntaxForOnProcess,
                async: true
            }
        });
        var editor_for_OnEnd = CodeMirror.fromTextArea(document.getElementById('code_for_onEnd'), {
            mode: 'text/x-java',
            lineNumbers: true,
            gutters: ["CodeMirror-lint-markers"],
            extraKeys: {
                "Ctrl-Space": "autocomplete"
            },
            hintOptions: {
                hint: CodeMirror.hint.anyword
            },
            lint: {
                getAnnotations: checkSyntaxForOnEnd,
                async: true
            }
        });
        
        var onstart_annotations = [];
        function checkSyntaxForOnStart(cm, updateLinting, options) {
            if(editor_for_OnStart!=null){
                fetch('/cloudbatchjobinjava/check_syntax_for_onStart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        requestid: document.querySelector('input[name="requestid"]').value,
                        requestContentInJSON: document.querySelector('input[name="requestContentInJSON"]').value,
                        code_for_onStart: editor_for_OnStart.getValue()
                    })
                })
                .then(response => response.json())
                .then(data => {
                    onstart_annotations = [];
                    if (data.errors) {
                        var lines = data.errors.split('\n');
                        for (var i = 0; i < lines.length; i++) {
                            var match = lines[i].match(/:(\d+): error: (.*)/);
                            if (match) {
                                onstart_annotations.push({
                                    message: match[2],
                                    severity: 'error',
                                    from: CodeMirror.Pos(parseInt(match[1]) - 17, 0),
                                    to: CodeMirror.Pos(parseInt(match[1]) - 17, 0)
                                });
                            }
                        }
                    }
                    document.getElementById('submitCloudbatchjobinjava').disabled = 
                        (onstart_annotations.length > 0) || 
                        (onprocess_annotations.length > 0) || 
                        (onend_annotations.length > 0) || 
                        !editor_for_OnStart.getValue().trim() || 
                        !editor_for_OnProcess.getValue().trim() || 
                        !editor_for_OnEnd.getValue().trim();
                    updateLinting(onstart_annotations);
                })
                .catch(error => console.error('Error checking syntax:', error));
            }
        }

        var onprocess_annotations = [];
        function checkSyntaxForOnProcess(cm, updateLinting, options) {
            if(editor_for_OnProcess!=null){
                fetch('/cloudbatchjobinjava/check_syntax_for_onProcess', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        requestid: document.querySelector('input[name="requestid"]').value,
                        requestContentInJSON: document.querySelector('input[name="requestContentInJSON"]').value,
                        code_for_onProcess: editor_for_OnProcess.getValue()
                    })
                })
                .then(response => response.json())
                .then(data => {
                    onprocess_annotations = [];
                    if (data.errors) {
                        var lines = data.errors.split('\n');
                        for (var i = 0; i < lines.length; i++) {
                            var match = lines[i].match(/:(\d+): error: (.*)/);
                            if (match) {
                                onprocess_annotations.push({
                                    message: match[2],
                                    severity: 'error',
                                    from: CodeMirror.Pos(parseInt(match[1]) - 30, 0),
                                    to: CodeMirror.Pos(parseInt(match[1]) - 30, 0)
                                });
                            }
                        }
                    }
                    document.getElementById('submitCloudbatchjobinjava').disabled = 
                        (onstart_annotations.length > 0) || 
                        (onprocess_annotations.length > 0) || 
                        (onend_annotations.length > 0) || 
                        !editor_for_OnStart.getValue().trim() || 
                        !editor_for_OnProcess.getValue().trim() || 
                        !editor_for_OnEnd.getValue().trim();
                    updateLinting(onprocess_annotations);
                })
                .catch(error => console.error('Error checking syntax:', error));
            }
        }

        var onend_annotations = [];
        function checkSyntaxForOnEnd(cm, updateLinting, options) {
            if(editor_for_OnEnd!=null){
                fetch('/cloudbatchjobinjava/check_syntax_for_onEnd', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        requestid: document.querySelector('input[name="requestid"]').value,
                        requestContentInJSON: document.querySelector('input[name="requestContentInJSON"]').value,
                        code_for_onEnd: editor_for_OnEnd.getValue()
                    })
                })
                .then(response => response.json())
                .then(data => {
                    onend_annotations = [];
                    if (data.errors) {
                        var lines = data.errors.split('\n');
                        for (var i = 0; i < lines.length; i++) {
                            var match = lines[i].match(/:(\d+): error: (.*)/);
                            if (match) {
                                onend_annotations.push({
                                    message: match[2],
                                    severity: 'error',
                                    from: CodeMirror.Pos(parseInt(match[1]) -34, 0),
                                    to: CodeMirror.Pos(parseInt(match[1]) -34, 0)
                                });
                            }
                        }
                    }
                    document.getElementById('submitCloudbatchjobinjava').disabled =
                        (onstart_annotations.length > 0) || 
                        (onprocess_annotations.length > 0) || 
                        (onend_annotations.length > 0) || 
                        !editor_for_OnStart.getValue().trim() || 
                        !editor_for_OnProcess.getValue().trim() || 
                        !editor_for_OnEnd.getValue().trim();
                    updateLinting(onend_annotations);
                })
                .catch(error => console.error('Error checking syntax:', error));
            }
        }

        function fetchLatestOutput() {
            var requestid = document.querySelector('input[name="requestid"]').value;
            fetch('/cloudbatchjobinjava/latest_output', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ requestid: requestid })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('output').textContent = data.output;
            })
            .catch(error => console.error('Error fetching latest output:', error));
        }

        setInterval(fetchLatestOutput, 2000); // Fetch latest output every 2 seconds

    </script>
</body>
</html>