<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Editor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/lint/lint.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/hint/show-hint.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/lint/lint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/hint/show-hint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/hint/anyword-hint.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='cloudbatchjobinjava.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
</head>
<body>
    <div class="button-overlay"><button onclick="location.href='/home';">Back</button></div>
    <div class="button-overlay"><button onclick="cloneToNewRequest();">Clone</button></div>
    <h1 class="header">Java Code Editor</h1>
    <form id="main" action="/cloudbatchjobinjava/submit/{{tempPageRequestID}}" method="post">
        <param id="requestid" name="requestid" value='{{ requestid }}'>
        <param id="tempPageRequestID" name="tempPageRequestID" value='{{ tempPageRequestID }}'>
        <p style="margin: 50px 0;"></p>
        <div>
            <label for="job_alias" class="code-label">Job alias: </label>
            <input type="text" id="job_alias" name="job_alias" value="{{ alias }}" onchange="saveAsDraft();">
        </div>
        <p style="margin: 50px 0;"></p>
        <div style="height: 25%;">
            <label for="code_for_onStart" class="code-label">onStart() {</label>
            <textarea id="code_for_onStart" name="code_for_onStart">{{ code_for_onStart }}</textarea>
            <label for="code_for_onStart" class="code-label">}</label>
        </div>
        <p style="margin: 50px 0;">
        <div style="height: 50%;">
            <label for="code_for_onProcess" class="code-label">onProess(FutureDataStructure data) {</label>
            <textarea id="code_for_onProcess" name="code_for_onProcess">{{ code_for_onProcess }}</textarea>
            <label for="code_for_onStart" class="code-label">}</label>
        </div>
        <p style="margin: 50px 0;">
        <div style="height: 25%;">
            <label for="code_for_onEnd" class="code-label">onEnd() {</label>
            <textarea id="code_for_onEnd" name="code_for_onEnd">{{ code_for_onEnd }}</textarea>
            <label for="code_for_onStart" class="code-label">}</label>
        </div>
        <div class="button-overlay"><button type="submit" id="submitCloudbatchjobinjava" disabled>Submit</button></div>
    </form>
    {% if status != 'SUBMITTED' %}
    <script>
        function check_and_generate_keywords(cm, event, method) {
            if (event.keyCode != 13) {
                var cursor = cm.getCursor();
                var token = cm.getTokenAt(cursor);
                var start = token.start;
                var end = cursor.ch;
                var word = token.string;
                var line = cm.getLine(cursor.line);
                fetch('/cloudbatchjobinjava/check_and_generate_keywords', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'line': line,
                        'cursor_pos': end,
                        'method': method
                    })  // Send input as JSON
                })
                    .then(response => response.json())
                    .then(data => {
                        customAutocomplete(cm, data.output, start, end, cursor.line);
                    })
                    .catch(error => console.error('Error:', error));
            }
        }
        
        function saveAsDraft(){
            let formData = new FormData();
            formData.append('job_alias', document.getElementById('job_alias').value);
            formData.append('code_for_onStart', editor_for_OnStart.getValue());
            formData.append('code_for_onProcess', editor_for_OnProcess.getValue());
            formData.append('code_for_onEnd', editor_for_OnEnd.getValue());
            fetch('/home/use-data-streaming/save/'+ document.querySelector('param[name="tempPageRequestID"]').value, {
                method: 'POST',
                body: formData
            })
        }
    </script>
    {% endif %}
    <script>
        function customAutocomplete(cm, filteredList, start, end, cursorline) {
            CodeMirror.showHint(cm, function (cm) {
                return {
                    list: filteredList,
                    from: CodeMirror.Pos(cursorline, start),
                    to: CodeMirror.Pos(cursorline, end)
                };
            });
        }
        CodeMirror.commands.autocomplete = customAutocomplete;

        var editor_for_OnStart = CodeMirror.fromTextArea(document.getElementById('code_for_onStart'), {
            mode: 'text/x-java',
            lineNumbers: true,
            extraKeys: { "Ctrl-Space": "autocomplete" },
            gutters: ["CodeMirror-lint-markers"],
            hintOptions: {
                hint: CodeMirror.hint.anyword
            },
            lint: {
                getAnnotations: checkSyntaxForOnStart,
                async: true
            }
        });
        editor_for_OnStart.on("keyup", function (cm, event) { check_and_generate_keywords(cm, event, 'onstart'); });


        var editor_for_OnProcess = CodeMirror.fromTextArea(document.getElementById('code_for_onProcess'), {
            mode: 'text/x-java',
            lineNumbers: true,
            gutters: ["CodeMirror-lint-markers"],
            extraKeys: {
                "Ctrl-Space": "autocomplete"
            },
            hintOptions: {
                hint: CodeMirror.hint.anyword
            },
            lint: {
                getAnnotations: checkSyntaxForOnProcess,
                async: true
            }
        });
        editor_for_OnProcess.on("keyup", function (cm, event) { check_and_generate_keywords(cm, event, 'onprocess'); });

        var editor_for_OnEnd = CodeMirror.fromTextArea(document.getElementById('code_for_onEnd'), {
            mode: 'text/x-java',
            lineNumbers: true,
            gutters: ["CodeMirror-lint-markers"],
            extraKeys: {
                "Ctrl-Space": "autocomplete"
            },
            hintOptions: {
                hint: CodeMirror.hint.anyword
            },
            lint: {
                getAnnotations: checkSyntaxForOnEnd,
                async: true
            }
        });
        editor_for_OnEnd.on("keyup", function (cm, event) { check_and_generate_keywords(cm, event, 'onend'); });

        var onstart_annotations = [];
        function checkSyntaxForOnStart(cm, updateLinting, options) {
            if (editor_for_OnStart != null) {
                fetch('/cloudbatchjobinjava/check_syntax_for_onStart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        tempPageRequestID: document.querySelector('param[name="tempPageRequestID"]').value,
                        code_for_onStart: editor_for_OnStart.getValue()
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        onstart_annotations = [];
                        if (data.errors) {
                            var lines = data.errors.split('\n');
                            for (var i = 0; i < lines.length; i++) {
                                var match = lines[i].match(/:(\d+): error: (.*)/);
                                if (match) {
                                    onstart_annotations.push({
                                        message: match[2],
                                        severity: 'error',
                                        from: CodeMirror.Pos(parseInt(match[1]) - 17, 0),
                                        to: CodeMirror.Pos(parseInt(match[1]) - 17, 0)
                                    });
                                }
                            }
                        }
                        document.getElementById('submitCloudbatchjobinjava').disabled =
                            (onstart_annotations.length > 0) ||
                            (onprocess_annotations.length > 0) ||
                            (onend_annotations.length > 0) ||
                            !editor_for_OnStart.getValue().trim() ||
                            !editor_for_OnProcess.getValue().trim() ||
                            !editor_for_OnEnd.getValue().trim();
                        updateLinting(onstart_annotations);
                    })
                    .catch(error => console.error('Error checking syntax:', error));
                saveAsDraft();
            }
        }

        var onprocess_annotations = [];
        function checkSyntaxForOnProcess(cm, updateLinting, options) {
            if (editor_for_OnProcess != null) {
                fetch('/cloudbatchjobinjava/check_syntax_for_onProcess', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        tempPageRequestID: document.querySelector('param[name="tempPageRequestID"]').value,
                        code_for_onProcess: editor_for_OnProcess.getValue()
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        onprocess_annotations = [];
                        if (data.errors) {
                            var lines = data.errors.split('\n');
                            for (var i = 0; i < lines.length; i++) {
                                var match = lines[i].match(/:(\d+): error: (.*)/);
                                if (match) {
                                    onprocess_annotations.push({
                                        message: match[2],
                                        severity: 'error',
                                        from: CodeMirror.Pos(parseInt(match[1]) - 30, 0),
                                        to: CodeMirror.Pos(parseInt(match[1]) - 30, 0)
                                    });
                                }
                            }
                        }
                        document.getElementById('submitCloudbatchjobinjava').disabled =
                            (onstart_annotations.length > 0) ||
                            (onprocess_annotations.length > 0) ||
                            (onend_annotations.length > 0) ||
                            !editor_for_OnStart.getValue().trim() ||
                            !editor_for_OnProcess.getValue().trim() ||
                            !editor_for_OnEnd.getValue().trim();
                        updateLinting(onprocess_annotations);
                    })
                    .catch(error => console.error('Error checking syntax:', error));
                saveAsDraft();
            }
        }

        var onend_annotations = [];
        function checkSyntaxForOnEnd(cm, updateLinting, options) {
            if (editor_for_OnEnd != null) {
                fetch('/cloudbatchjobinjava/check_syntax_for_onEnd', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        tempPageRequestID: document.querySelector('param[name="tempPageRequestID"]').value,
                        code_for_onEnd: editor_for_OnEnd.getValue()
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        onend_annotations = [];
                        if (data.errors) {
                            var lines = data.errors.split('\n');
                            for (var i = 0; i < lines.length; i++) {
                                var match = lines[i].match(/:(\d+): error: (.*)/);
                                if (match) {
                                    onend_annotations.push({
                                        message: match[2],
                                        severity: 'error',
                                        from: CodeMirror.Pos(parseInt(match[1]) - 34, 0),
                                        to: CodeMirror.Pos(parseInt(match[1]) - 34, 0)
                                    });
                                }
                            }
                        }
                        document.getElementById('submitCloudbatchjobinjava').disabled =
                            (onstart_annotations.length > 0) ||
                            (onprocess_annotations.length > 0) ||
                            (onend_annotations.length > 0) ||
                            !editor_for_OnStart.getValue().trim() ||
                            !editor_for_OnProcess.getValue().trim() ||
                            !editor_for_OnEnd.getValue().trim();
                        updateLinting(onend_annotations);
                    })
                    .catch(error => console.error('Error checking syntax:', error));
                saveAsDraft();
            }
        }

        function cloneToNewRequest() {
            let formData = new FormData();
            formData.append('job_alias', document.getElementById('job_alias').value);
            formData.append('clone_from', document.querySelector('param[name="tempPageRequestID"]').value);
            formData.append('code_for_onStart', editor_for_OnStart.getValue());
            formData.append('code_for_onProcess', editor_for_OnProcess.getValue());
            formData.append('code_for_onEnd', editor_for_OnEnd.getValue());
            fetch('/home/use-data-streaming/'+ document.querySelector('param[name="requestid"]').value +'/clone', {
                method: 'POST',
                body: formData
            }).then(response => response.text())
            .then(data => {
                window.location.href = data;
            });
        }
    </script>
        
</body>
{% extends "base.html" %}
</html>