<table id="data-streaming-table" class="display">
    <thead>
        <tr>
            <th colspan="1" rowspan="2" scope="colgroup">Create DateTime</th>
            <th colspan="1" rowspan="2" scope="colgroup">Retention Hour</th>
            <th colspan="1" rowspan="2" scope="colgroup">Status</th>
            <th colspan="6" rowspan="1" scope="colgroup">Request Content</th>
        </tr>
        <tr>
            <th scope="col">From Date</th>
            <th scope="col">To Date</th>
            <th scope="col">From Time</th>
            <th scope="col">To Time</th>
            <th scope="col">Class Code</th>
            <th scope="col">Future/Option</th>
        </tr>
    </thead>
    <tbody>
        {% if data_streaming_list|length > 0 %}
        {% for stream in data_streaming_list %}
        <tr name="streaming_item">
            <td>{{ stream.CREATE_DATETIME }}</td>
            <td>{{ stream.RETENTION_HOUR }}</td>
            {% if stream.STATUS=="ACTIVE" %}
            <td><img class="icon-button-visible" src="{{ url_for('static', filename='play.gif') }}"
                    onclick="location.href='/home/use-data-streaming/{{ stream.ID }}';"></td>
            {% else %}
            <td>{{ stream.STATUS }}</td>
            {% endif %}
            <td>{{ stream.REQUEST_CONTENT.FROM_DATE }}</td>
            <td>{{ stream.REQUEST_CONTENT.TO_DATE }}</td>
            <td>{{ stream.REQUEST_CONTENT.FROM_TIME }}</td>
            <td>{{ stream.REQUEST_CONTENT.TO_TIME }}</td>
            <td>{{ stream.REQUEST_CONTENT.CLASS_CODE }}</td>
            <td>{{ stream.REQUEST_CONTENT.FUT_OPT }}</td>
            <tbody>
                {% for cloudbatchjob in stream.CLOUDBATCHJOBLIST %}
                <tr name="cloubbatchjob_item">
                    <td colspan="2"></td>
                    <td colspan="7">
                        <!-- Sub-row content goes here -->
                        <p>Additional details for stream ID: {{ cloudbatchjob.ID }}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>