<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <style>
        .modal-dialog-longer {
            max-width: 50%;
            /* Adjust the width as needed */
            height: 50%;
            /* Adjust the height as needed */
        }
    
        .modal-body-longer {
            height: calc(100% - 120px);
            /* Adjust the height to fit within the modal */
            overflow-y: auto;
            /* Enable vertical scrolling */
        }
    </style>
</head>

<body>
    <table id="data-streaming-table" class="display">
        <thead>
            <tr>
                <th>Create DateTime</th>
                <th>Retention Hour</th>
                <th>Status</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>From Time</th>
                <th>To Time</th>
                <th>Class Code</th>
                <th>Future/Option</th>
            </tr>
        </thead>
        <tbody>
            {% if data_streaming_list|length > 0 %}
            {% for stream in data_streaming_list %}
            <tr name="streaming_item" data-stream-id="{{ stream.ID }}" onclick="showCloudBatchJobList('{{stream.ID}}')">
                <td>{{ stream.CREATE_DATETIME }}</td>
                <td>{{ stream.RETENTION_HOUR }}</td>
                <td>{{ stream.STATUS }}</td>
                <td>{{ stream.REQUEST_CONTENT.FROMDATE }}</td>
                <td>{{ stream.REQUEST_CONTENT.TODATE }}</td>
                <td>{{ stream.REQUEST_CONTENT.FROMTIME }}</td>
                <td>{{ stream.REQUEST_CONTENT.TOTIME }}</td>
                <td>{{ stream.REQUEST_CONTENT.CLASS_CODE }}</td>
                <td>{{ stream.REQUEST_CONTENT.FUT_OPT }}</td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <!-- Modal -->
    {% if data_streaming_list|length > 0 %}
    {% for stream in data_streaming_list %}
    <div class="modal fade" id="{{ stream.ID }}_cloudbatchjob" tabindex="-1" role="dialog"
        aria-labelledby="detailsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-longer" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">Cloud Batch Job List</h5>
                </div>
                <div class="modal-body modal-body-longer">
                    <td>
                        <div class="icon-button-visible button-overlay">
                            <button onclick="window.open('/home/use-data-streaming/{{ stream.ID }}', '_blank');">Add</button>
                        </div>
                    </td>
                    <!-- Modal content will be populated here -->
                    <div id="modal-content" class=" justify-content-center align-items-center">
                        <table id="data-streaming-table" class="display" style="width:90%">
                            <thead>
                                <tr>
                                    <th style="width: 50%; border-color:#fff; text-align: center;">ALIAS</th>
                                    <th style="width: 20%; border-color:#fff; text-align: center;">Createion DateTime</th>
                                    <th style="width: 10%; border-color:#fff; text-align: center;">STATUS</th>
                                    <th style="width: 10%; border-color:#fff;"></th>
                                    <th style="width: 10%; border-color:#fff;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if stream.CLOUDBATCHJOBLIST|length > 0 %}
                                {% for cloudbatchjob in stream.CLOUDBATCHJOBLIST %}
                                <tr name="cloudbatchjob_item" data-stream-id="{{ cloudbatchjob.ID }}">
                                    <td style="width: 60%; border-color:#fff; text-align: center;" title="{{ cloudbatchjob.ID }}">{{ cloudbatchjob.ALIAS }}</td>
                                    <td style="width: 20%; border-color:#fff; text-align: center;">{{ cloudbatchjob.CREATE_DATETIME }}</td>
                                    <td style="width: 20%; border-color:#fff; text-align: center;">{{ cloudbatchjob.STATUS }}</td>
                                    <td style="width: 10%; border-color:#fff; text-align: center;">
                                        <div class="button-overlay"><button onclick="window.open('/home/use-data-streaming/{{ stream.ID }}/{{ cloudbatchjob.ID }}', '_blank');">Edit</button></div>
                                    </td>
                                    <td style="width: 10%; border-color:#fff; text-align: center;">
                                        <div class="button-overlay"><button onclick="window.open('/home/view-cloudbatchjob-result/{{ stream.ID }}/{{ cloudbatchjob.ID }}', '_blank');">View</button></div>
                                    </td>
                                    {% if cloudbatchjob.STATUS == 'DRAFT' %}
                                    <td style="width: 10%; border-color:#fff; text-align: center;">
                                        <div class="button-overlay"><button onclick="deleteDraft('{{ cloudbatchjob.ID }}');">Delete</button></div>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="button-overlay">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <script>
        function showCloudBatchJobList(streamId) {
            $('#' + streamId + '_cloudbatchjob').modal('show');
        }

        function deleteDraft(cloudbatchjobId) {
            fetch('/home/delete-draft/' + cloudbatchjobId, {
                method: 'POST'
            }).then(response => response.text())
            .then(data => {
                if(data == 'Draft deleted successfully'){
                    document.querySelector(`[data-stream-id='${cloudbatchjobId}']`).remove();
                }
            });
        }
    </script>
</body>

</html>