<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <style>
        .modal-dialog-longer {
            max-width: 50%;
            /* Adjust the width as needed */
            height: 80vh;
            /* Adjust the height as needed */
        }
    
        .modal-body-longer {
            height: calc(100% - 120px);
            /* Adjust the height to fit within the modal */
            overflow-y: auto;
            /* Enable vertical scrolling */
        }
    </style>
</head>

<body>
    <table id="data-streaming-table" class="display">
        <thead>
            <tr>
                <th>Create DateTime</th>
                <th>Retention Hour</th>
                <th>Status</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>From Time</th>
                <th>To Time</th>
                <th>Class Code</th>
                <th>Future/Option</th>
            </tr>
        </thead>
        <tbody>
            {% if data_streaming_list|length > 0 %}
            {% for stream in data_streaming_list %}
            <tr name="streaming_item" data-stream-id="{{ stream.ID }}" onclick="showCloudBatchJobList('{{stream.ID}}')">
                <td>{{ stream.CREATE_DATETIME }}</td>
                <td>{{ stream.RETENTION_HOUR }}</td>
                <td>{{ stream.STATUS }}</td>
                <td>{{ stream.REQUEST_CONTENT.FROM_DATE }}</td>
                <td>{{ stream.REQUEST_CONTENT.TO_DATE }}</td>
                <td>{{ stream.REQUEST_CONTENT.FROM_TIME }}</td>
                <td>{{ stream.REQUEST_CONTENT.TO_TIME }}</td>
                <td>{{ stream.REQUEST_CONTENT.CLASS_CODE }}</td>
                <td>{{ stream.REQUEST_CONTENT.FUT_OPT }}</td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <!-- Modal -->
    {% if data_streaming_list|length > 0 %}
    {% for stream in data_streaming_list %}
    <div class="modal fade" id="{{ stream.ID }}_cloudbatchjob" tabindex="-1" role="dialog"
        aria-labelledby="detailsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-longer" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">Cloud Batch Job List</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-body-longer">
                    <!-- Modal content will be populated here -->
                    <div id="modal-content">
                        {% if stream.STATUS == "ACTIVE" %}
                        <td><img class="icon-button-visible" src="{{ url_for('static', filename='play.gif') }}" onclick="location.href='/home/use-data-streaming/{{ stream.ID }}';"></td>
                        {% endif %}
                        <table id="data-streaming-table" class="display">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Createion DateTime</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if stream.CLOUDBATCHJOBLIST|length > 0 %}
                                {% for cloudbatchjob in stream.CLOUDBATCHJOBLIST %}
                                <tr name="cloudbatchjob_item" data-stream-id="{{ cloudbatchjob.ID }}">
                                    <td>{{ cloudbatchjob.ID }}</td>
                                    <td>{{ cloudbatchjob.CREATE_DATETIME }}</td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <script>
        function showCloudBatchJobList(streamId) {
            $('#' + streamId + '_cloudbatchjob').modal('show');
        }
    </script>
</body>

</html>