{% include "top.html" %}
<head>
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='common_head.css') }}">
</head>
<div class="button-overlay"><button class="btn btn-primary" onclick="location.href='/home';">Back</button></div>
<p>{{error_message}}</p>
<p>Sorry, an error occurred while processing your request. Please contact the admin for assistance.</p>
<p>Email: admin@example.com</p>
{% include "base.html" %}