<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <script>
        $(document).ready(function () {
            // Initialize DataTables
            $('#data-streaming-table').DataTable();

            $('#filter-form').submit(function (event) {
                event.preventDefault(); // Prevent the form from submitting the traditional way
                // Show the loading icon
                document.getElementById('filtering-icon').classList.remove('icon-button-hidden');
                document.getElementById('filtering-icon').classList.add('icon-button-visible');
                document.getElementById('filter-button').disabled = true;

                $.ajax({
                    url: '/data-streaming-list/filter',
                    method: 'POST',
                    data: {
                        'stream-status': document.getElementById('stream-status').value,
                        'retention-hour': document.getElementById('retention-hour').value,
                        'class-code': document.getElementById('class-code').value
                    },
                    success: function (response) {
                        $('#data-streaming-container').html(response);

                        // Reinitialize DataTables
                        $('#data-streaming-table').DataTable().destroy();
                        $('#data-streaming-table').DataTable();
                    }
                });

                // Hide the loading icon
                document.getElementById('filtering-icon').classList.add('icon-button-hidden');
                document.getElementById('filtering-icon').classList.remove('icon-button-visible');
                document.getElementById('filter-button').disabled = false;
            });

        });
    </script>
</head>
<body>
    <header>
        <h1>Welcome to the Job Management System</h1>
        <nav>
            <ul>
                {% if session.cookie is none %}
                    <li><a href="/login">Login</a></li>
                {% else %}
                    <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <section id="running-jobs">
            <h2>Jobs List</h2>
            <form id="filter-form">
                <label for="stream-status">Stream Status:</label>
                <select id="stream-status" name="stream-status">
                    <option value="">All</option>
                    <option value="ACTIVE">Active</option>
                    <option value="OBSOLETE">Obsolete</option>
                </select>

                <label for="retention-hour">Retention Hour:</label>
                <input type="number" id="retention-hour" name="retention-hour" min="0">

                <label for="class-code">Class Code:</label>
                <input type="text" id="class-code" name="class-code">

                <button type="submit" id="filter-button">Filter</button>
                <img id="filtering-icon" class="icon-button-hidden" src="{{ url_for('static', filename='loading.gif') }}">
            </form>
            <div id="data-streaming-container">
                {% include 'data_streaming_list.html' %}
            </div>
        </section>
        <section id="request-job">
            <h2>Request New Job</h2>
            <form action="/home/request-new-data-streaming" method="post">
                <label for="job-name">Date Time selection type:</label>
                <input type="text" id="datetime-selection-type" name="datetime-selection-type" value="1" required>
                
                <label for="from-date">From Date:</label>
                <input type="date" id="from-date" name="from-date" value="2023-04-03" required>
                
                <label for="to-date">To Date:</label>
                <input type="date" id="to-date" name="to-date" value="2023-05-03" required>
                
                <label for="from-time">From Time:</label>
                <input type="time" id="from-time" name="from-time" value="09:00:00" required>
                
                <label for="to-time">To Time:</label>
                <input type="time" id="to-time" name="to-time" value="16:30:00" required>
                
                <label for="class-code">Class Code:</label>
                <input type="text" id="class-code" name="class-code" value="HSI" required>
                
                <label for="fut-opt">Future Option:</label>
                <input type="text" id="fut-opt" name="fut-opt" value="F" required>
                
                <label for="expiry-mth">Expiry Month:</label>
                <input type="text" id="expiry-mth" name="expiry-mth" >
                
                <label for="strike-prc">Strike Price:</label>
                <input type="text" id="strike-prc" name="strike-prc" >
                
                <label for="call-put">Call/Put:</label>
                <input type="text" id="call-put" name="call-put" >
                
                <label for="retention-hour">Retention Hour:</label>
                <input type="number" id="retention-hour" name="retention-hour" value="1" >
                <button type="submit">Request Job</button>
                <img id="requesting-new-job-icon" class="icon-button-hidden" src="{{ url_for('static', filename='loading.gif') }}">
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Job Management System</p>
    </footer>
</body>
</html>