<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Editor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/clike/clike.min.js"></script>
</head>
<body>
    <h1>Java Code Editor</h1>
    <form action="/execute" method="post">
        <input name="requestid" value="1dc4655d-879d-11ef-90f4-d76dbcd64478"/>
        <input name="requestContentInJSON" value='{"USERID":"b7f0d3d9-68f4-11ef-a86a-b735f9964bce","DATETIMESELECTIONTYPE":"1","FROMDATE":"20230403","TODATE":"20230503","FROMTIME":"155500","TOTIME":"163000","CLASS_CODE":"HSI","FUT_OPT":"F","EXPIRY_MTH":"","STRIKE_PRC":"","CALL_PUT":"","RETENTION_HOUR":"1"}'/>
        <textarea id="code_for_onStart" name="code_for_onStart"></textarea>
        <textarea id="code_for_onProess" name="code_for_onProess"></textarea>
        <textarea id="code_for_onEnd" name="code_for_onEnd"></textarea>
        <button type="submit">Run Code</button>
    </form>
    <pre id="output" style="width: 100%; height: 50px;">{{ output }}</pre>

    <script>
        var editor_for_OnStart = CodeMirror.fromTextArea(document.getElementById('code_for_onStart'), {
            mode: 'text/x-java',
            lineNumbers: true
        });
        var editor_for_OnProcess = CodeMirror.fromTextArea(document.getElementById('code_for_onProess'), {
            mode: 'text/x-java',
            lineNumbers: true
        });
        var editor_for_OnEnd = CodeMirror.fromTextArea(document.getElementById('code_for_onEnd'), {
            mode: 'text/x-java',
            lineNumbers: true
        });

        function fetchLatestOutput() {
            var requestid = document.querySelector('input[name="requestid"]').value;
            fetch(`/latest_output?requestid=${requestid}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('output').textContent = data.output;
                })
                .catch(error => console.error('Error fetching latest output:', error));
        }

        setInterval(fetchLatestOutput, 2000); // Fetch latest output every 2 seconds
    </script>
</body>
</html>